@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #5D1522;
}

@theme {
  --color-white: #FEFCFA;
  --color-red: #5D1522;
  --color-blue: #A9CEEF;
}

/* Font weight utility classes */
.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "degular", Arial, Helvetica, sans-serif;
}

/* Masonry Grid Styles */
.my-masonry-grid {
  display: flex;
  width: auto;
  overflow: visible;
}

.my-masonry-grid_column {
  background-clip: padding-box;
  overflow: visible;
}

/* styles/global.css */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr; /* Ensures rows adjust to content height */
  gap: 0;
  width: 100%;
}

.gallery-item {
  background-color: #FFFFFF;
  border: .5px solid #5D1522;
  box-sizing: border-box;
  overflow: visible;
}
